.label-menu,
.checkbox{
    display: none;
}
.social{
    display: none;
}
.git{
    display: none;
}
@media only screen and (max-device-width: 480px) {
    .menu {
        display: none;
        position:absolute;
        top: 4.6875rem;
        left: 0;
        background-color: #424242;
        text-align: center;
        width: 100%;
        height: 50%;
        z-index: 1;
        margin-top: 50px;
    }
    .label-menu{
        display: flex;
        align-items: center;
        color: aliceblue;
        cursor: pointer;
        padding-block: 1rem;
        gap: 0.5rem;
        font-size: 30px;
        
    }
    .menu li{
        margin-bottom: 1.5rem;
        font-size: 100px;
        
        
    }
    .checkbox:checked ~ .menu{
        display: block;
    }
    #sobre span{
        font-size: 80px
    }
    #sobre p{
        font-size: 40px
    }
    #sobre a{
        font-size: 25px
    }
    #sobre img{
        position: relative;
        width: 500px;
        top: 20%;
        justify-content: center;
        display: block;
        margin-left: -30%;
        margin-right: auto;
        margin-bottom: 50px;
 
    }
    #sobre_mim h2{
        font-size: 100px
    }
    #sobre_mim p{
        font-size: 40px;
        font-weight: lighter;
    }
    #sobre a{
        width: 200px;
    }

    #sobre{
        height: 100vw;
    }

    #projetos{
        margin-top: 100%;
        margin-bottom: 100%;
    }
    #projetos h2{
        margin-top: 20%;
        font-size: 150px;
    }
    #contato h2{
        font-size: 150px;
    }
    
}


